
.bgMain {
	background: url('bg_list.jpg');
}

a:link {
    text-decoration: none;
}

/* ====== DIRECTORY ====== */
.directoryHeader {
    position: absolute; left: 0px; top: 0px; width: 1920px; height: 85px;
	font-family: Century Gothic, serif;
	font-size: 58px; color: #242f3b;
	background-color: #8695a8; background-repeat: no-repeat;
	text-align: left; padding-top: 13px; padding-left: 20px;
	border-bottom: 2px solid #0b141d;
}
.directory {
	position: absolute; left: 0px; top: 100px; width: 1920px; height: 798px;
	bottom: 0; z-index: 10;
	background: url('bg_list.jpg');
}
.logoMain {
	position: absolute; left: 1652px; top: 0px; width: 268px; height: 98px;
	background: url('logoMain.png');
	bottom: 0; z-index: 10;
}
.logoSec {
	position: absolute; left: 1675px; top: 0px; width: 245px; height: 80px;
	background: url('logoSec.png');
	bottom: 0; z-index: 10;
}
.logoSpecialty {
	position: absolute; left: 1675px; top: 0px; width: 245px; height: 84px;
	background: url('logoSec2.png');
	bottom: 0; z-index: 10;
}

/*++++++++++++++++++++++++++++++ SCROLLING MESSAGE ++++++++++++++++++++++++++++++++++++*/
.tickercontainer {
	position: absolute; left: 0px; top: 0px; width: 1920px; height: 56px; 
	background: #2d3949;
	margin: 0; padding: 0;
	overflow: hidden;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative; left: 0px; top: 12px; width: 1920px;
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative; left: 1920px;
	font: italic 24px Century Gothic;
	color: #fff;
	list-style-type: none;
	margin: 0; padding: 0;
}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0; padding: 0;
	white-space: nowrap; /* important - keeps text from wrapping */
}


tr.bgHeader {background-color: #8796a9; }
tr.bgPropHead {background-color: #8796a9; }
.headerStyle {border-bottom: #0a1119 solid 2px;}

/* If alt-row colors */
table.OnePixelBorder {background-color: #59606a; }
tr.bgRow1 {background-color: #12171e; }
tr.bgRow2 {background-color: #232a32; }

/* Removed padding from font classes to fix table widths */
.headLarge, .headMed, .listLarge, .listMed, .listSmall, .listXS, .headLarge2 {
	font-family: Century Gothic, Arial, sans-serif;
}
.headLarge {
	font-size: 30px;
	font-weight: bold; 
	color: #242f3b;
}

.headLarge2 {
		color: #d4dbe3;
		font-size: 30px;
		font-weight: bold;
		}
		
.headMed {
	font-size: 30px;
	font-weight: bold;
	color: #242f3b;
}
.headSub1 {
	font-size: 26px;
	font-weight: bold;
	color: #ffffff;
}
.headSub2 {
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
}
.listLarge {
	font-size: 25px;
	font-weight: bold;
	color: #d4dbe3;
}
.listMed {
	font-size: 22px;
	font-weight: bold;
	color: #d4dbe3;
}
.listSmall {
	font-size: 18px;
	font-weight: normal;
	color: #d4dbe3;
}
.listXS {
	font-size: 14px;
	font-weight: normal;
	color: #d4dbe3;
}

/* ++++++++ Begin Building Info Page ++++++++  */
.mgmtCont {
	left:403px; 
	top:152px; 
}
.leaseCont {
	left:998px; 
	top:152px; 
}
.mgmtCont, .leaseCont {
	position:absolute; 
	text-align: center;
	font-family: Futura LT Book, Verdana, Arial, sans-serif;
}
.bldgHeader {
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	width: 516px; 
	height: 48px; 
	padding: 14px 0px 0px 0px;
	border-top: 2px solid #757e85;
	border-right: 2px solid #757e85;
	border-bottom: 1px solid #757e85;
	border-left: 2px solid #757e85;
	border-radius: 25px 25px 0px 0px;
	background: rgba(134, 149, 168, .15);
}
.bldgData {
	font-size: 24px;
	font-weight: normal;
	color: #ffffff;
	padding: 0px 20px 0px 20px;
	width: 476px; 
	height: 500px;  /* Increase this height for taller boxes */
	border-top: 1px solid #757e85;
	border-right: 2px solid #757e85;
	border-bottom: 2px solid #757e85;
	border-left: 2px solid #757e85;
	border-radius: 0px 0px 25px 25px;
	background: rgba(0, 0, 0, .15);
	display: table-cell;
	vertical-align: middle;
}
.bldgData img {
	margin-top: 10px;
}
td.PropHdrHeight  {
	height:0px; 
}
.bldgheaderHeight { 
	height: 0px;  /* Height of property name bar at top of building info page */
}
.headProperty {
	font-family: Century Gothic, Verdana, Arial, sans-serif;
	color: #ffffff;
	font-size: 36px;
	font-weight: normal;
}
table.SpaceBtn {
	position:absolute; 
	left:547px; 
	top:827px; 
}
td.SpaceSize  {
	width:340px; 
	height:101px; 
}
/* ++++++++ End Building Info Page ++++++++  */


.pushdown { 
	height: 40px;  /* creates horizontal space between listings and header */
}  

/*     Company Padding order <top, right, bottom, left >	*/
td.setOne0 { width: 5%; padding: 0px 0px 2px 160px; }
td.setOne1 { width: 40%; padding: 10px 10px 10px 10px; height:50px;  }
td.setOne2 { width: 10%; padding: 10px 10px 10px 10px; }
td.setOne3 { width: 15%; padding: 10px 10px 10px 10px; }
td.setOne4 { width: 20%; padding: 10px 200px 10px 10px; }
td.setOne5 { width: 0%; padding: 0px 0px 0px 0px; }
td.setOne6 { width: 95%; padding: 10px 10px 10px 10px; }

/*     Individuals Padding order - top, right, bottom, left 	*/
td.setTwo0 { width: 5%; padding: 0px 0px 0px 32px; }
td.setTwo1 { width: 25%; padding: 14px 10px 0px 0px; height:32px; }
td.setTwo2 { width: 29%; padding: 14px 10px 0px 0px; height:32px; }
td.setTwo3 { width: 13%; padding: 14px 10px 0px 0px; height:32px; }
td.setTwo4 { width: 10%; padding: 14px 10px 0px 0px; height:32px; }
td.setTwo5 { width: 18%; padding: 14px 10px 0px 0px; height:32px; }
td.setTwo6 { width: 95%; padding: 8px 8px 8px 8px; }

td.setTwoShort { padding: 0px 10px 0px 0px; height: 25px; }

/*     Amenities Padding order - top, right, bottom, left 	*/
td.setThree0 { width: 5%; padding: 2px 0px 0px 160px; }
td.setThree1 { width: 35%; padding: 10px 10px 10px 10px; height:60px; }
td.setThree2 { width: 30%; padding: 10px 10px 10px 10px; }
td.setThree3 { width: 30%; padding: 10px 200px 10px 10px; }
td.setThree4 { width: 0%; padding: 0px 0px 0px 0px; }
td.setThree5 { width: 0%; padding: 0px 0px 0px 0px; }
td.setThree6 { width: 95%; padding: 8px 8px 8px 8px; }

/*     Space Padding order - top, right, bottom, left	*/
td.setFour0 { width: 8%; padding: 2px 0px 0px 24px; }
td.setFour1 { width: 10%; padding: 10px 10px 10px 10px; height:60px; }
td.setFour2 { width: 20%; padding: 10px 10px 10px 10px; }
td.setFour3 { width: 62%; padding: 10px 10px 10px 10px; }
td.setFour4 { width: 0%; padding: 0px 0px 0px 0px; }
td.setFour5 { width: 0%; padding: 0px 0px 0px 0px; }
td.setFour6 { width: 95%; padding: 8px 8px 8px 8px; }

/*     Padding order - top, right, bottom, left	*/
td.setFive0 { width: 5%; padding: 2px 0px 0px 24px }
td.setFive1 { width: 30%; padding: 12px 8px 8px 8px; height:60px }
td.setFive2 { width: 25%; padding: 12px 8px 8px 8px; }
td.setFive3 { width: 18%; padding: 12px 8px 8px 8px; }
td.setFive4 { width: 22%; padding: 12px 8px 8px 8px; }
td.setFive5 { width: 0%; padding: 0px 0px 0px 0px; }
td.setFive6 { width: 95%; padding: 8px 8px 8px 8px; }

/*     Padding order - top, right, bottom, left	*/
td.setSix0 { width: 5%; padding: 2px 0px 0px 24px }
td.setSix1 { width: 30%; padding: 12px 8px 8px 8px; height:60px }
td.setSix2 { width: 25%; padding: 12px 8px 8px 8px; }
td.setSix3 { width: 15%; padding: 12px 8px 8px 8px; }
td.setSix4 { width: 25%; padding: 12px 8px 8px 8px; }
td.setSix5 { width: 0%; padding: 0px 0px 0px 0px; }
td.setSix6 { width: 95%; padding: 8px 8px 8px 8px; }


/* +++++  NEW Styles +++++ */
.infoLink { 
	width: 100px;   /* Works in conjunction with .linkFix below to place link.png */
}
.linkFix { 
	padding-right: 100px !important;  /* Offsets header <td> above link.png, must equal .infoLink width above */
} 
.overflowHidden {    /* removes scroll bars */
	overflow: hidden;
}
.listingsWidth { 
	width: 1920px !important;  /* Sets width of listings and header table */  
} 
.headerHeight { 
	height: 82px;  /* Cannot be less than <td> height=60 plus padding+10+10 */
}
.detailHeight { 
	height: 848px;    /* Sets height of detail pages with keyboard */
} 
.detailHeightOther { 
	height: 848px;  /* Sets height of full detail pages */
} 
.iframeSpecs {  /* Sets iframe width and height of pages with a keyboard */
	width:1920px;
	height:848px;  /* .detailHeight=899 minus .headerHeight=82 */
}
.iframeSpecsOther {  /* Sets iframe width and height of full size pages */
	width:1920px;
	height:848px;
}
.pdfSpecs {  /* Sets width and height of PDF display area */
	width: 1920px;
	height: 848px;
}
.pdfSpecsKeyboard {  /* Sets width and height of PDF display area with keyboard below */
	width: 1920px;
	height: 848px;
}
.pad-top {
	padding-top: 30%;  /* pads No Listing/No Info messages */
}
#scroll_up {
	position: absolute;
	z-index: 1000;
	background: url(up.png);
}
.arrow_up {
	left: 1840px;
	top: 710px;
}
.arrow_up_other {
	left: 1840px;
	top: 710px;
}
#scroll_down {
	position: absolute;
	z-index: 1000;
	background: url(down.png);
}
.arrow_down {
	left: 1840px;
	top: 840px;
}
.arrow_down_other {
	left: 1840px;
	top: 840px;
}
#scroll_down, #scroll_up, #scroll_down_other, #scroll_up_other {
	width: 64px;
	height: 90px;
}
#scroll_up:active, #scroll_up_other:active {
	background: url(up-d.png);
}
#scroll_down:active, #scroll_down_other:active {
	background: url(down-d.png);
}
#scroll_down:hover, #scroll_up:hover, #scroll_down_other:hover, #scroll_up_other:hover { 
	cursor: pointer; 
}
#scroll_text, #scroll_text_other {
	position: absolute;
	width: 166px;
	height: 80px;
	text-align: center;
	font-size: 20px;
	font-family: Futura LT Book;
	color: #d8dfe8;
	z-index: 1000;
	line-height: 140%;
}
#scroll_text {
	left: 1789px;
	top: 793px;
}
#scroll_text_other {
	left: 1789px;
	top: 793px;
}
.sidebar, .sidebar_other {
	position: absolute;
	left: 1820px;
	top: 82px;
}
.sidebarMap {
	position: absolute;
	left: 1820px;
	top: 0px;
	background-color: #212d3b;
}
.sidebar {
	width: 100px;
	height: 848px;
}
.sidebarMap {
	width: 100px;
	height: 930px;
}
.sidebar_other {
	width: 100px;
	height: 848px;
}
.backButton, .backButtonOther, .backButtonPDF, .backButtonMap {
	position: absolute;
	background: url(back.png);
	border: none;
	width: 64px;
	height: 80px;
}
.backButton {
	left: 1840px;
	top: 640px;
}
.backButtonMap {
	left: 1840px;
	top: 800px;
}
.backButtonOther {
	left: 1840px;
	top: 640px;
}
.backButtonPDF {
	left: 1840px;
	top: 640px;
}

/* 
IMPORTANT: This ID appears in the HTML, but it is not visible. It will be read by the javascript in scroll_listing.js when the page loads.
The amount to scroll up/down in pixels is calculated in the javascript when the pages serves as viewHeight / {this top number} 
Thus, if your viewHeight is 960px and you set top:1.8px; below, the scroll amount would be 310px.  
Note that the javascript removes the "px" from the number to perform the calculation.
Also, 1.8 seems to be a good ratio.
*/
#scrollAmountFractionOfViewPort{
	visibility: hidden; top:1.8px;
} 

/* 
IMPORTANT: This ID appears in the HTML, but it is not visible. It will be read by the javascript in scroll_listing.js when the page loads.
The maximum spacing to put above the list, so that the top part of the list scrolls down below 1/2 of the monitor for ADA reasons, 
is calculated in the javascript when the pages serves as viewHeight / {this top number} 
Thus, if your viewHeight is 960px and you set top:2; below, the maximum spacing to put above the list amount would be 480px
Note that the javascript removes the "px" from the number to perform the calculation.
*/
#topMaxSpacingForADAFractionOfViewPort{
	visibility: hidden; top:2px;
} 

/*  DEBUG CODE - UNCOMMENT CODE TO TEST LISTING CELLS */
/*
.bldgHeader { background: #4BADA9;}
.bldgData  { background: #C01DCD; }
.mgmtCont, .leaseCont  { background: #5F991E; }
.headLarge, .headMed, .listLarge, .listMed, .listSmall, .listXS { background: #787A47; }
td.setOne0, td.setTwo0, td.setThree0, td.setFour0, td.setFive0, td.setSix0 { background: #2C3C2B; }
td.setOne1, td.setTwo1, td.setThree1, td.setFour1, td.setFive1, td.setSix1 { background: #3E543D; }
td.setOne2, td.setTwo2, td.setThree2, td.setFour2, td.setFive2, td.setSix2 { background: #2C3C2B; }
td.setOne3, td.setTwo3, td.setThree3, td.setFour3, td.setFive3, td.setSix3 { background: #3E543D; }
td.setOne4, td.setTwo4, td.setThree4, td.setFour4, td.setFive4, td.setSix4 { background: #2C3C2B; }
td.setOne5, td.setTwo5, td.setThree5, td.setFour5, td.setFive5, td.setSix5 { background: #3E543D; }
td.setOne6, td.setTwo6, td.setThree6, td.setFour6, td.setFive6, td.setSix6 { background: #2C3C2B; }
.infoLink { background: #BA9D45; }
*/


/*  Please text instructions - for vertical systems, to be safe, turning off in all Horiz programs */
.please_box {
	display: none;
}
.please_text {
	display: none;
}